<!DOCTYPE HTML>

<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta charset="utf-8">
   <!-- Description, Keywords and Author -->
   <meta name="description" content="">
   <meta name="author" content="">

   <title>:: SuiteDreams Inc. | Contact ::</title>

   <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
   <!-- style -->
   <link href="${dep.styleCss}" rel="stylesheet" type="text/css">
   
   <!-- bootstrap -->
   <link href="${dep.bootstrapCss}" rel="stylesheet" type="text/css">
   
   <!-- responsive -->
   <link href="${dep.responsiveCss}" rel="stylesheet" type="text/css">
   
   <!-- font-awesome -->
   <link href="${dep.fontAwesomeCss}" rel="stylesheet" type="text/css">
   
   <!-- font-awesome -->
   <link href="${dep.set2Css}" rel="stylesheet" type="text/css">
   <link href="${dep.normalizeCss}" rel="stylesheet" type="text/css">
   <link href="${dep.componentCss}" rel="stylesheet" type="text/css">
</head>

<body>
   <!-- header -->
   <header role="header">
      <div class="container">
         <!-- nav -->
         <nav role="header-nav" class="navy">
            <ul>
               <li><a href="" title="Work">Work</a></li>
               <li><a href="" title="About">About</a></li>
               <li><a href="" title="Blog">Blog</a></li>
               <li class="nav-active"><a href="" title="Contact">Contact</a></li>
            </ul>
         </nav>
         <!-- nav -->
      </div>
   </header>
   <!-- header -->

   <!-- main -->
   <main role="main-inner-wrapper" class="container">
      <div class="row">
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content" class="contact-header">
               <header>
                  <h2><span>Hey Thr!</span> we love to hear you.</h2>
               </header>
               <p><a href="tel:5555555555"><i class="fa fa-phone" aria-hidden="true"></i> +1.555.555.5555</a><a href="mailto:contactus@suitedreams.com"><i class="fa fa-envelope" aria-hidden="true"></i> contactus@suitedreams.com</a></p>
            </article>
         </div>

         <!-- map -->
         <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="demo-wrapper">
               <div id="surabaya"></div>
            </div>
         </div>
         <!-- map -->
         <div class="clearfix"></div>

         <!-- contat-from-wrapper -->
         <div class="contat-from-wrapper">
            <div id="message"></div>

            
            <!-- Modify this section of the template -->
            <form method="post" action="" name="cform" id="cform">
               <div class="row">
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                     <input name="custpage_name" id="name" type="text" placeholder="Whats your name?">
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                     <input name="custpage_email" id="email" type="email" placeholder="Whats your email?">
                  </div>
               </div>
               
               <div class="clearfix"></div>

               <textarea name="custpage_comments" id="comments" cols="" rows="" placeholder="Whats in your mind"></textarea>
               <div class="clearfix"></div>
               <input name="" type="submit" value="Send email">
               <div id="simple-msg"></div>
            </form>


         </div>
         <!-- contat-from-wrapper -->
      </div>
   </main>
   <!-- main -->
   
   <!-- footer -->
   <footer role="footer">
      <!-- nav -->
      <nav role="footer-nav">
         <ul>
            <li><a href="" title="Work">Work</a></li>
            <li><a href="" title="About">About</a></li>
            <li><a href="" title="Blog">Blog</a></li>
            <li><a href="" title="Contact">Contact</a></li>
         </ul>
      </nav>

      <!-- nav -->
      <ul role="social-icons">
         <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
      </ul>
      <p class="copy-right">&copy; 2015 avana LLC.. All rights Resved</p>
   </footer>
   <!-- footer -->

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="${dep.jqueryJs}" type="text/javascript"></script>
   
   <!-- custom -->
   <script src="${dep.navJs}" type="text/javascript"></script>
   <script src="{dep.customJs}" type="text/javascript"></script>
   
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="${dep.bootstrapJs}" type="text/javascript"></script>
   <script src="${dep.masonryJs}" type="text/javascript"></script>
   <script src="${dep.imagesJs}" type="text/javascript"></script>
   <script src="${dep.classieJs}" type="text/javascript"></script>
   <script src="${dep.animOnScrollJs}" type="text/javascript"></script>
   <script src="${dep.modernizrJs}"></script>
   
   <!-- jquery.countdown -->
   <script src="${dep.html5ShivJs}" type="text/javascript"></script>
</body>

</html>
