<!DOCTYPE HTML>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta charset="utf-8">

   <!-- Description, Keywords and Author -->
   <meta name="description" content="">
   <meta name="author" content="">
   <title>:: SuiteDreams Inc. ::</title>

   <!-- style -->
   <link href="${dep.styleCss}" rel="stylesheet" type="text/css">
   
   <!-- bootstrap -->
   <link href="${dep.bootstrapCss}" rel="stylesheet" type="text/css">
   
   <!-- responsive -->
   <link href="${dep.responsiveCss}" rel="stylesheet" type="text/css">
   
   <!-- font-awesome -->
   <link href="${dep.fontAwesomeCss}" rel="stylesheet" type="text/css">
   
   <!-- font-awesome -->
   <link href="${dep.set2Css}" rel="stylesheet" type="text/css">
   <link href="${dep.normalizeCss}" rel="stylesheet" type="text/css">
   <link href="${dep.componentCss}" rel="stylesheet" type="text/css">
</head>

<body>
   <!-- header -->
   <header role="header">
      <div class="container">
         <!-- nav -->
         <nav role="header-nav" class="navy">
            <ul>
               <li class="nav-active"><a href="#" title="Work">Work</a></li>
               <li><a href="#" title="About">About</a></li>
               <li><a href="#" title="Blog">Blog</a></li>
               <li><a href="#" title="Contact">Contact</a></li>
            </ul>
         </nav>
         <!-- nav -->
      </div>
   </header>
   <!-- header -->

   <!-- main -->
   <main role="main-home-wrapper" class="container">
      <div class="row">
         <!-- Title Content (left) -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
               <header>
                  <h2><span>SuiteDreams</span>Services.</h2>
               </header>
               <p>Browse through the services that we offer.</p>
            </article>
         </section>

         <!-- Title Image (right) -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid"/>
         </section>
         <div class="clearfix"></div>

         <!-- Left Column Entries -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
               <#list serviceItems as serviceItem>
               <li>
                  <figure class="effect-oscar">
                     <img src="${serviceItem.storedisplayimage@url}" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>${serviceItem.itemid}</h2>
                        <p>${serviceItem.storedescription}</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li>
               </#list>

               <!-- <li>
                  <figure class="effect-oscar">
                     <img src="images/home-images/image-4.jpg" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>A Brand <span>new Agency</span></h2>
                        <p>Over 40,000 customers use our themes to power their</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li> -->
            </ul>
         </section>

         <!-- Right Column Entries -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
               <!-- <li>
                  <figure class="effect-oscar">
                     <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>Anatome Milano <span>Galleria</span></h2>
                        <p>Galerie Anatome based in Paris</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li>
               <li>
                  <figure class="effect-oscar">
                     <img src="images/home-images/image-5.jpg" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>A Brand <span>new Agency</span></h2>
                        <p>Over 40,000 customers use our themes to power their</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li> -->
            </ul>
         </section>
         <div class="clearfix"></div>
      </div>
   </main>
   <!-- main -->

   <!-- footer -->
   <footer role="footer">
      <!-- nav -->
      <nav role="footer-nav">
         <ul>
            <li><a href="#" title="Work">Work</a></li>
            <li><a href="#" title="About">About</a></li>
            <li><a href="#" title="Blog">Blog</a></li>
            <li><a href="#" title="Contact">Contact</a></li>
         </ul>
      </nav>
      <!-- nav -->

      <ul role="social-icons">
         <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
      </ul>
      <p class="copy-right">Template downloaded from freebiesbug.com</p>

   </footer>
   <!-- footer -->
   
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="${dep.jqueryJs}" type="text/javascript"></script>
   
   <!-- custom -->
   <script src="${dep.navJs}" type="text/javascript"></script>
   <script src="{dep.customJs}" type="text/javascript"></script>
   
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="${dep.bootstrapJs}" type="text/javascript"></script>
   <script src="${dep.masonryJs}" type="text/javascript"></script>
   <script src="${dep.imagesJs}" type="text/javascript"></script>
   <script src="${dep.classieJs}" type="text/javascript"></script>
   <script src="${dep.animOnScrollJs}" type="text/javascript"></script>
   <script src="${dep.modernizrJs}"></script>
   
   <!-- jquery.countdown -->
   <script src="${dep.html5ShivJs}" type="text/javascript"></script>

</body>

</html>
