<!DOCTYPE HTML>
<html>

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   <meta charset="utf-8">

   <!-- Description, Keywords and Author -->
   <meta name="description" content="">
   <meta name="author" content="">
   <title>:: SuiteDreams Inc. ::</title>

   <!-- style -->
   <link href="${dep.styleCss}" rel="stylesheet" type="text/css">

   <!-- bootstrap -->
   <link href="https://system.netsuite.com/core/media/media.nl?id=79550514&c=NLCORP&h=aa81121a15617a7d4e76&_xt=.css" rel="stylesheet" type="text/css">

   <!-- responsive -->
   <link href="https://system.netsuite.com/core/media/media.nl?id=79550518&c=NLCORP&h=8a7f374725c8a5b18c18&_xt=.css" rel="stylesheet" type="text/css">

   <!-- font-awesome -->
   <link href="https://system.netsuite.com/core/media/media.nl?id=79550511&c=NLCORP&h=22e24611dc74e3dd5872&_xt=.css" rel="stylesheet" type="text/css">

   <!-- font-awesome -->
   <link href="https://system.netsuite.com/core/media/media.nl?id=79550510&c=NLCORP&h=76d270e8383dd1815e63&_xt=.css" rel="stylesheet" type="text/css">
   <link href="https://system.netsuite.com/core/media/media.nl?id=79550512&c=NLCORP&h=b805513c1fb0bcc8ccfa&_xt=.css" rel="stylesheet" type="text/css">
   <link href="https://system.netsuite.com/core/media/media.nl?id=79550522&c=NLCORP&h=8f10937c6595105dea35&_xt=.css" rel="stylesheet" type="text/css">
</head>

<body>
   <!-- header -->
   <header role="header">
      <div class="container">
         <!-- nav -->
         <nav role="header-nav" class="navy">
            <ul>
               <li class="nav-active"><a href="#" title="Work">Work</a></li>
               <li><a href="#" title="About">About</a></li>
               <li><a href="#" title="Blog">Blog</a></li>
               <li><a href="#" title="Contact">Contact</a></li>
            </ul>
         </nav>
         <!-- nav -->
      </div>
   </header>
   <!-- header -->

   <!-- main -->
   <main role="main-home-wrapper" class="container">
      <div class="row">
         <!-- Title Content (left) -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
            <article role="pge-title-content">
               <header>
                  <h2><span>SuiteDreams</span>Services.</h2>
               </header>
               <p>Browse through the services that we offer.</p>
            </article>
         </section>

         <!-- Title Image (right) -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid"/>
         </section>
         <div class="clearfix"></div>

         <!-- Left Column Entries -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
               <#list serviceItems as serviceItem>
               <li>
                  <figure class="effect-oscar">
                     <img src="${serviceItem.storeddisplayimage@url}" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>${serviceItem.itemid}</h2>
                        <p>${serviceItem.storedescription}</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li>
               </#list>

               <li>
                  <figure class="effect-oscar">
                     <img src="images/home-images/image-4.jpg" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>A Brand <span>new Agency</span></h2>
                        <p>Over 40,000 customers use our themes to power their</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li>
            </ul>
         </section>

         <!-- Right Column Entries -->
         <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
            <ul class="grid-lod effect-2" id="grid">
               <li>
                  <figure class="effect-oscar">
                     <img src="images/home-images/image-3.jpg" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>Anatome Milano <span>Galleria</span></h2>
                        <p>Galerie Anatome based in Paris</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li>
               <li>
                  <figure class="effect-oscar">
                     <img src="images/home-images/image-5.jpg" alt="" class="img-responsive" />
                     <figcaption>
                        <h2>A Brand <span>new Agency</span></h2>
                        <p>Over 40,000 customers use our themes to power their</p>
                        <a href="#">View more</a>
                     </figcaption>
                  </figure>
               </li>
            </ul>
         </section>
         <div class="clearfix"></div>
      </div>
   </main>
   <!-- main -->

   <!-- footer -->
   <footer role="footer">
      <!-- nav -->
      <nav role="footer-nav">
         <ul>
            <li><a href="#" title="Work">Work</a></li>
            <li><a href="#" title="About">About</a></li>
            <li><a href="#" title="Blog">Blog</a></li>
            <li><a href="#" title="Contact">Contact</a></li>
         </ul>
      </nav>
      <!-- nav -->

      <ul role="social-icons">
         <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-flickr" aria-hidden="true"></i></a></li>
      </ul>
      <p class="copy-right">Template downloaded from freebiesbug.com</p>

   </footer>
   <!-- footer -->

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="js/jquery.min.js" type="text/javascript"></script>

   <!-- custom -->
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550523&c=NLCORP&h=91450fd1e1869eac614a&_xt=.js" type="text/javascript"></script>
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550517&c=NLCORP&h=3a91b2c8e603815fd0d1&_xt=.js" type="text/javascript"></script>

   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550521&c=NLCORP&h=f3867c44e6eb614344db&_xt=.js" type="text/javascript"></script>
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550519&c=NLCORP&h=1fcb43ae5e8808809dc0&_xt=.js" type="text/javascript"></script>
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550525&c=NLCORP&h=50137f2130c4bd6394d6&_xt=.js" type="text/javascript"></script>
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550520&c=NLCORP&h=fa63a8a9a118ddb7b5fd&_xt=.js" type="text/javascript"></script>
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550513&c=NLCORP&h=19768c1fc213066980e1&_xt=.js" type="text/javascript"></script>
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550515&c=NLCORP&h=c342c756aefb865c9c98&_xt=.js"></script>

   <!-- jquery.countdown -->
   <script src="https://system.netsuite.com/core/media/media.nl?id=79550524&c=NLCORP&h=bcab33d897dab800fa01&_xt=.js" type="text/javascript"></script>

</body>

</html>
